<div class="container">
<h1 class="center-title">All Recipes</h1>

<% @recipes.each do |recipe| %>
	
	<div class="row recipes-index-view">
		<div class="col-md-4">
			<div class="chef-info center">
				<%= image_tag(recipe.picture.url, size: "350x250", class: "img-responsive") if recipe.picture?%>
			</div>
		</div>
		<div class="col-md-8">
			<h4><%= link_to recipe.name, recipe_path(recipe)%></h4>
			<p><%= link_to recipe.summary, ""%></p>
			<p><%= link_to recipe.description, ""%></p>
			<p>
				
			</p>
		</div>
	</div>

<% end %>

</div>