<div class="row content-form-recipes">
	<div class="container">
	<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 frm-bg">
		<h1 class="center-title">New Recipe</h1>
		<%= render 'form' %>
	</div>
</div>
</div>