<header>
    <div class="container">
      <nav class="navbar navbar-default" style="background: #fff; border: none; padding-top: 20px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logo.png'), root_path, class: "navbar-brand"%>
          </div>
          <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li><%= link_to 'Create a New Recipe', new_recipe_path%></li>
              <li><%= link_to 'Recipes List', recipes_path%></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</header>
