<div class="jumbotron center custom-jumbotron">
	<%= image_tag ('https://s3.amazonaws.com/magicrecipesb/statics_images/main_bg.jpg'), class: "img-responsive" %>
</div>
<div class="container">
	<div class="row">
		<h2 class="center-title customh2">Most Populars Recipes</h2>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		1) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, magni sit at totam voluptatem possimus qui itaque atque quam praesentium libero adipisci officiis iste neque. Corporis voluptate voluptatum facere, autem!
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			2) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vel ipsa ipsam sunt inventore minima debitis ut quae fugiat, illum. Sint doloremque ratione maxime sed deleniti ipsam asperiores distinctio, quisquam?
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			3) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident incidunt, cum? Eveniet voluptatem atque vel, cum sint laboriosam quas, a voluptas asperiores officiis corporis nam cumque alias rerum totam earum?
		</div>
	</div>
</div>